name: Nix Docker Build

on:
  push:
  pull_request:

env:
  # errexit and pipefail set by the runner
  SHELLOPTS: nounset

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build
        uses: ./.
        with:
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
